body {
  margin: 0;
  padding: 0;
  background: radial-gradient(circle, #4c0196,#090021, #023100, #000522);
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.deezer-premium {
  text-align: center;
  letter-spacing: 0.2rem;
  font-weight: 700;
  position: relative;
  z-index: 1;
  text-shadow: 0 0 10px rgba(0,0,0,0.5);
  background: radial-gradient(circle, #002817,#350034, #002736, #00180a);


}

#artist-headline{
  background: radial-gradient(circle, #00493a,#001c39, #00240b, #3f015a);
  padding: 2em;
}