body {
  margin: 0;
  padding: 0;
  background: radial-gradient(circle, #4c0196,#280050, #0d0019, #0c0018);
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.deezer-premium {
  text-align: center;
  letter-spacing: 0.2rem;
  font-weight: 700;
  position: relative;
  z-index: 1;
  text-shadow: 0 0 10px rgba(0,0,0,0.5);
  background: radial-gradient(circle, #250049,#130050, #0a0013, #080023);


}